.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: block;
  }

  @media (min-width: 768px) {
    .desktop-menu {
      display: block;
    }

    .menu-button {
      display: none;
    }
  }
}
